<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="AesKey" value="SomeDefaultKey"/>
    <add key="AesIv" value="SomeDefaultVector"/>
    <add key="AesSalt" value="KLfdfhKHdfhsshlkfuhsdfafldufhskdjf*^45Asfsdgh^%^*7"/>
    <add key="HMACSHA384Key" value="I love to crypt"/>
  </appSettings>
</configuration>
